
@{
    Layout = null;
}

<head>
    <title>@ViewBag.OrgName</title>
    <link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css' />
    <link href="~/Content/pgslanding/foundation.css" rel="stylesheet" />
</head>
<body id="body1" ng-app="loginApp" ng-controller="loginCtrl">
    @Html.AntiForgeryToken()
    <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
        <div class="twelve columns" style="margin-top: 8px;">
            <div class="row">
                <div class="twelve mobile-twelve columns">
                    <input type="text" id="txtUsname" name="user" class="twelve" placeholder="Username" />
                </div>
            </div>
            <div class="row">
                <div class="twelve mobile-twelve columns">
                    <input type="password" id="txtPwd" name="password" class="twelve" placeholder="Password" />
                    <label id="lblerr" style="color: Red;">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="twelve mobile-twelve columns">
                    <center>
                        <a href="/Misc/Fp.aspx">
                            <span style="color: #1E91CB; font-size: 18px; font-family: 'Iceland', Helvetica, Arial, sans-serif;">
                                Forgot Password?
                            </span>
                        </a>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="twelve mobile-twelve columns">
                    <center>
                        <input type="button" value="GO" onclick="Login();return false;" class="radius small button" />
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <div class="row" style="margin-bottom: 0px;">
            <div class="six columns" id="lgo">
                <ul>
                    <!-- Title Area -->
                    <li class="name">
                        <h1>
                            <a href="/mem/hm.aspx">
                                <img src="~/Images/panelofgamers/pgslogo.png" />
                            </a>
                        </h1>
                    </li>
                    <li class="shine">
                        <img src="~/Images/panelofgamers/logo_shine.png" />
                    </li>
                </ul>
            </div>
            <div class="six columns" id="signin_but">
                <a href="#" class="radius button" data-reveal-id="myModal" data-dismissmodalclass="myModal">
                    Sign In
                </a>
            </div>
            <div class="five columns" style="margin-top: 16px;" id="signin_form">
                <form name="userLoginForm" novalidate>
                    <div class="row">
                        <div class="five mobile-one columns" style="padding: 0 0 0 35px;">
                            <label class="right inline">
                                Username:
                            </label>
                        </div>
                        <div class="seven mobile-three columns">
                            <input type="email" name="userEmail" class="twelve" placeholder="{{'email' | translate}}" ng-model="loginDetails.EmailAddress" ng-required="true">
                            <span class="error text-danger" ng-show="userLoginForm.userEmail.$error.email">{{'notValidEmail' | translate}}!</span>
                            <span class="error text-danger" ng-show="userLoginForm.userEmail.$error.required&&showLoginError">{{'required' | translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five mobile-one columns" style="padding: 0 0 0 35px;">
                            <label class="right inline">
                                Password:
                            </label>
                        </div>
                        <div class="seven mobile-three columns">
                            <input type="password" name="userPsw" class="twelve" placeholder="{{'password' | translate}}" ng-model="loginDetails.Password" ng-required="true">
                            <span class="error text-danger" ng-show="userLoginForm.userPsw.$invalid&&showLoginError">{{'required' | translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ten mobile-one columns" style="padding: 0 0 0 170px;">
                            <a tabindex="-1" href="/login/ForgotPsw">
                                <span style="color: #1E91CB; font-size: 18px;
                            font-family: 'Iceland', Helvetica, Arial, sans-serif;">Forgot Password?</span>
                            </a>
                        </div>
                        <div class="two mobile-three columns" style="padding: 0px; margin: 0px; line-height: 0px;">
                            <button type="submit" class="radius small button" ng-click="userLoginClick(userLoginForm.$valid)">GO</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div class="the-form2" id="the-form2" style="">
                <h3 align="center">
                    <img alt="join" src="~/Images/panelofgamers/join.png" />
                    <img alt="sign" src="~/Images/panelofgamers/sign.png" />
                </h3>
                <div class="the-fields">
                    <div class="row">
                        <div class="twelve mobile-twelve columns">
                            <input id="txtfirstname" type="text" name="first_name2" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve mobile-twelve columns">
                            <input id="txtlstname" type="text" name="last_name2" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve mobile-twelve columns">
                            <input id="txtemail" type="email" name="email2" placeholder="Email" />
                        </div>
                        <label id="lblemessage" style="color: Red;">
                        </label>
                    </div>
                    <div class="row">
                        <div class="twelve mobile-twelve columns">
                            <select name="gender2" id="ddlGender2">
                                <option value="" selected="selected">Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="N">Non-Binary</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve mobile-twelve columns">
                            <select name="country2" id="countrySelect2">
                                <option value="-1">Select Country</option>
                                <option value="231">United States of America</option>
                                <option value="38">Canada</option>
                                <option value="229">United Kingdom</option>
                                <option value="15">Australia</option>
                                <option value="57">Germany</option>
                                <option value="75">France</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <label id="lblerrmsg" style="color: Red;">
                            </label>
                            <center>
                                <input type="image" value="start now" class="submit" onclick="EmailCheck();return false;"
                                       src="/Images/PanelofGamers/signupbut.png" style="width: 100%; max-width: 292px;
                                    float: none;" />
                            </center>
                        </div>
                        <div class="twelve columns" style="margin-top: 10px; color: White;">
                            <center>
                                By signing up, I agree to our Terms of Use and Privacy Policy and agree to receive
                                additional survey, market research and other relevant offers from PanelofGamers.com
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight columns" style="padding: 0px;">
            <div align="center" class="featured">
            </div>
            <div class="row">
                <div class="twelve columns" style="margin-top: 67%;">
                    <center>
                        <img alt="rewards" src="~/Images/panelofgamers/rewards.png" />
                    </center>
                </div>
                <div class="twelve columns">
                    <div class="ads">
                        <center>
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=139364529451852"
                                    scrolling="no" frameborder="0" style="border: none; overflow: hidden; height: 80px;"
                                    allowtransparency="true"></iframe>
                            <img alt="promo" src="~/Images/panelofgamers/promo.png" style="width:270px;" />
                        </center>
                    </div>
                    <div class="bot-imgs">
                        <center style="margin-top: 10px; margin-bottom: -2px;">
                            <img alt="vg" src="~/Images/panelofgamers/vg.png" />
                        </center>
                        <div align="center" class="logo-slide-pgs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four columns" id="form-head">
            <center>
                <img src="~/Images/panelofgamers/join.png" />
                <img src="~/Images/panelofgamers/sign.png" />
            </center>
        </div>
        <div class="four columns" style="padding: 0px;">
            <form name="loginForm" novalidate>
                <div id="the-form">
                    <table width="315" border="0" cellspacing="0" cellpadding="0" class="table-bg">
                        <tr>
                            <td>
                                @*<img src="/Images/PanelofGamers/formbg2-top.png" />*@
                            </td>
                        </tr>
                        <tr>
                            <td class="formbg2-middle">
                                <div style="margin-top:15px;">
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                First Name:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="text" id="txtFirstName" style="width:160px" ng-model="user.FirstName" name="firstName" required>
                                            <span ng-show="loginForm.firstName.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Last Name:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="text" id="txtLastName" style="width:160px" ng-model="user.LastName" name="lastName" required>
                                            <span ng-show="loginForm.lastName.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Email:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="email" id="txtEmailAddress" style="width:160px" ng-model="user.EmailAddress" name="email" ng-blur="validateEmail()" required>
                                            <span class="error text-danger" ng-show="loginForm.email.$error.email">{{'notValidEmail'|translate}}</span>
                                            <span ng-show="loginForm.email.$error.required && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                                            <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Address 1:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="text" id="txtAddress1" name="address1" style="width:160px" ng-model="user.Address1" required>
                                            <span class="error text-danger" ng-show="loginForm.address1.$invalid &&isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Address 2:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="text" id="txtAddress2" style="width:160px" ng-model="user.Address2">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Country:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <select style="width:160px" id="ddlCountry" ng-model="user.CountryId" name="country" ng-options="con.CountryId as con.CountryName for con in countries" ng-change="countryByStates(user.CountryId)" required>
                                                <option value="">-{{'select'|translate}}-</option>
                                            </select>
                                            <span class="error text-danger" ng-show="loginForm.country.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.CountryId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="states.length != 0">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                State:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <select style="width:160px" id="ddlStates" ng-model="user.StateId" name="state" ng-options="st.StateId as st.StateName for st in states" required>
                                                <option value="">-{{'select'|translate}}-</option>
                                            </select>
                                            <span class="error text-danger" ng-show="loginForm.state.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.StateId == 0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                City:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="text" id="txtCity" style="width:160px" ng-model="user.City" name="city" required>
                                            <span class="error text-danger" ng-show="loginForm.city.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                ZIP/Postal:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="text" id="txtZipCode" style="width:160px" ng-model="user.ZipCode" name="zipCode" required>
                                            <span class="error text-danger" ng-show="loginForm.zipCode.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Gender:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <select style="width:160px" id="ddlGender" ng-model="user.Gender" name="gender" required ng-change="optIntelligenceCheck()">
                                                <option value="">-{{'select'|translate}}-</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="N">Non-Binary</option>
                                            </select>
                                            <span class="error text-danger" ng-show="loginForm.gender.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Birth Date:
                                            </label>
                                        </div>
                                        <table style="width: 160px; margin: 0px; background-color: Transparent; border-color: Transparent;
                                                    float: left;" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="left" style="width: 62px;">
                                                    <select id="ddlMonth" ng-model="user.Month" name="month" required ng-click="optIntelligenceCheck()">
                                                        <option value="">-MM-</option>
                                                        <option value="01">Jan</option>
                                                        <option value="02">Feb</option>
                                                        <option value="03">Mar</option>
                                                        <option value="04">Apr</option>
                                                        <option value="05">May</option>
                                                        <option value="06">Jun</option>
                                                        <option value="07">Jul</option>
                                                        <option value="08">Aug</option>
                                                        <option value="09">Sep</option>
                                                        <option value="10">Oct</option>
                                                        <option value="11">Nov</option>
                                                        <option value="12">Dec</option>
                                                    </select>
                                                </td>
                                                <td align="left" style="width: 60px;">
                                                    <select id="ddlDay" ng-model="user.Day" name="day" required ng-click="optIntelligenceCheck()">
                                                        <option value="">-DD-</option>
                                                        <option value="01">1</option>
                                                        <option value="02">2</option>
                                                        <option value="03">3</option>
                                                        <option value="04">4</option>
                                                        <option value="05">5</option>
                                                        <option value="06">6</option>
                                                        <option value="07">7</option>
                                                        <option value="08">8</option>
                                                        <option value="09">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>

                                                    </select>
                                                </td>
                                                <td align="left" style="width: 60px;position: absolute;">
                                                    <select id="ddlYear" ng-model="user.Year" name="year" ng-options="y.key as y.value for y in year" required ng-click="optIntelligenceCheck()">
                                                        <option value="">-YY-</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                        <span class="error text-danger" ng-show="(loginForm.month.$invalid ||loginForm.day.$invalid||loginForm.year.$invalid)  && isRegErrMsg">{{'required'|translate}}</span>
                                    </div>
                                    <div class="row" ng-if="user.CountryId != 505 && user.CountryId != 512 && user.CountryId != 525 && user.CountryId != 545 && user.CountryId != 548 && user.CountryId != 549 && user.CountryId !=550 && user.CountryId !=559 && user.CountryId !=564 && user.CountryId !=565 && user.CountryId !=572 && user.CountryId !=575 && user.CountryId !=590 && user.CountryId !=596 && user.CountryId !=599 && user.CountryId !=613 && user.CountryId !=618 && user.CountryId !=619 && user.CountryId !=620 && user.CountryId !=628 && user.CountryId != 647 && user.CountryId != 657 && user.CountryId != 668 && user.CountryId != 669 &&
                         user.CountryId !=673 && user.CountryId !=693 && user.CountryId !=694 && user.CountryId !=700 && user.CountryId !=706">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Ethnicity:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <select style="width:160px" id="ddlEthnicity" ng-model="user.EthnicityId" name="ethnicity" ng-options="ec.EthnicityId as ec.EthnicityType for ec in ethnicityLst" required>
                                                <option value="">-{{'select'|translate}}-</option>
                                            </select>
                                            <span class="error text-danger" ng-show="loginForm.ethnicity.$invalid  && isRegErrMsg">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.EthnicityId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four mobile-one columnss">
                                            <label class="right inline">
                                                Password:
                                            </label>
                                        </div>
                                        <div class="eight mobile-three columnss">
                                            <input type="password" id="txtPassword" style="width:160px" ng-model="user.Password" name="password" required>
                                            <span class="error text-danger" ng-show="loginForm.password.$invalid && isRegErrMsg">Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div style="transform: scale(0.77);">
                                        <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                        <span class="text-danger" ng-show="captchaErr">Invalid captcha selection.</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="twelve mobile-one columnss">
                                        <table cellspacing="0" border="0" style="width: 100%; margin: 0px 0 5px 0; font-size: 10pt;
                                                    background-color: Transparent; border-color: Transparent;">
                                            <tr>
                                                <td style="float: left;">
                                                    <center style="width: 85%;">

                                                    </center>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="dvTc" style="padding: 15px;">
                                                    <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 5px;" name="agree" type="checkbox" value="agre" ng-model="user.agree" required>
                                                    <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 2px; text-align: left; width: 89%; font-size: 12px; cursor: default;" class="ng-binding">
                                                        I agree to the <a href="" style="color: white;text-decoration: underline;" ng-click="termsClick()" class="ng-binding">Terms & Conditions</a> and to receive additional survey, market research and other relevant emails from Precision Sample.<br />
                                                        I understand that my personal data will be processed as described in the <a href="" style="color: white;text-decoration: underline;" ng-click="privacyClick()" class="ng-binding">Privacy Notice</a>
                                                    </label>
                                                    <span ng-show="loginForm.agree.$invalid && isRegErrMsg" class="error text-danger">{{'required'|translate}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 0 18px; vertical-align: top;">
                                                    <img src="~/Images/panelofgamers/signupbut.png" id="imgNext" ng-click="submit(loginForm.$valid)" style="width:252px;height:73px;cursor:pointer;" class="submit" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="clear"></div> -->
                                @*<div class="row" style="margin: 0px -15px;">
                                    <div class="twelve mobile-one columns ">
                                        <p style="width: 100%; font-size: 11px; line-height: 15px; padding: 0px 30px 0px 24px;">
                                            By signing up, I agree to our Terms of Use and Privacy Policy and agree to receive
                                            additional survey, market research and other relevant offers from PanelofGamers.com
                                        </p>
                                    </div>
                                </div>*@
                    </table>
                </div>
            </form>
            <div>
                @*<img src="/Images/PanelofGamers/formbg2-bottom.png" />*@
            </div>
        </div>
    </div>

    <div id="footer" style="width: 100%; margin: 20px 0px 0px 0px; padding: 0px;">
        <div class="twelve mobile-twelve columns centered">
            <p id="text">
                &copy; Copyright 2022 PanelofGamers.com | <a href="" ng-click="termsClick('/WidgetTerms.html')"
                                                             id="ancsurveysonline" style="color: #b2b2b2;">Terms</a>| <a href=""
                                                                                                                         ng-click="privacyClick()" id="a1" style="color: #b2b2b2;">Privacy</a>
                | <a href="" ng-click="contactClick()" id="ancsurveycontact"
                     style="color: #b2b2b2;">Contact Us</a> | <a href=""
                                                                 ng-click="aboutClick()" id="ancsurveyAbout" style="color: #b2b2b2;">
                    About Us
                </a> | <a href="" ng-click="faqClick()" id="ancSurveySitemap"
                          style="color: #b2b2b2;">FAQ</a> | <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
            </p>
        </div>
    </div>
    @*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularval")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
</body>




