@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}
<head id="Head1">
    <title>MagazineOpinions</title>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <script src="https://www.offerfwd.net/oi/joi.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/molanding/css/all.css" />
    <style type="text/css">
        .form-group {
            margin-bottom: 7px;
        }

        .cqtable_internal, .cqtable_internal b, .validInput, .cqtable span, .cqtable font {
            font-size: 12px !important;
        }
    </style>

</head>
<body id="body1" style="background: url('../../Images/MagazineOpinions/bg.jpg') repeat-x #b7dbf9;">
    @Html.AntiForgeryToken()
    <div ng-app="loginApp" ng-controller="loginCtrl" ng-cloak>
        @*<div style="border: 1px solid black; width: 100%;" ng-if="nomNomCookie">
            <center>
                <div id="divcookie" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #CECECE; display: none;">
                    <div style="margin: auto; padding: 2px; line-height: 2px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="vertical-align: top;" align="left">
                                    <h1 style="color: #920025; font-size: 24px;">nom nom... Cookies</h1>
                                </td>
                                <td style="vertical-align: top;" align="left">
                                    <img src="~/Images/cookie_image.png" width="50" height="32" alt="cookie_img" style="margin-left: 5px;" />
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    &nbsp;&nbsp; We use cookies to enhance your experience on our website. For more
                                    details, please review our &nbsp;&nbsp;<a href="/Misc/c.htm" style="color: #1E91CB;">
                                        <u>
                                            Cookie
                                            Policy
                                        </u>
                                    </a>
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    &nbsp;&nbsp;&nbsp;<input type="button" id="btncookieok" value="OK" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </center>
        </div>*@

        <div style="width: 33%;background-color: #2f3337;position: fixed;padding: 1px;z-index: 99999;top: auto;bottom: 10px;outline: none;border-radius:10px;margin-left:10px;" align="center" ng-if="!googleCookie">
            <div id="divcookie" style="margin-left: auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;display: table;max-height:100px;">
                <div border="0" cellspacing="0" cellpadding="0" style="width:90%;">
                    <div>
                        <div style="display:inline-flex;">
                            <h1 style="color: #0095ff; font-size: 24px; margin-bottom:7px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'Cookie Banner'|translate}}</h1>
                            <img src="/images/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                        </div>
                        <div style="float:right;">
                            <button type="button" style="color: white;background-color: #2f3337;border: none;font-size: 25px;margin-top: 10px;" class="close" aria-hidden="true" ng-click="closeDialog()">×</button>
                        </div>
                    </div>
                    <div style="vertical-align: bottom;" align="left">
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We use functional cookies to ensure the proper functioning of our Website <a href="http://www.MagazineOpinions.com/" style="color: #ffffff;">http://www.MagazineOpinions.com/</a> and to keep our Website quick and safe. </p><br />
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We would like to set additional analytical  cookies to understand how our website is used and how we can optimise our Website and services. We would also like to use additional tracking cookies by us or by third parties to show you relevant advertisement based on your interests.  </p><br />
                    </div>
                    <div>
                        <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">Accept additional cookies</button>
                        <button type="button" id="btncookieok" value="OK" ng-click="declineCookie()" style="padding: 7px 7px;border-radius: 10px;background-color: #e1ecf4;text-align: center;cursor: pointer;color: #39739d;border:none;font-size:13px;margin-left:10px;">Reject additional cookies</button>
                    </div>
                    <div style="margin-top:10px;">
                        <p align="left" style="color: #ffffff;font-size:12px;">
                            Manage your Cookie Settings here <a href="#" ng-click="cookieSettings()" style="color: #337ab7;">Cookie Settings</a> Find more information about our cookies in our Cookie Statement
                            <a href="#" style="color: #337ab7;" onclick="window.open('/Login/cookiest', 'Cookie Statement', 'height=800,width=800,scrollbars=yes'); return false">Cookie Statement</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--RIGHT-->
        <div id="wrapper">
            <form name="userLoginForm" novalidate>
                <fieldset>
                    <div style="margin-top: 15px;float: right;text-align: left; margin-right: -70px;" class="login-form">
                        <ng-include src="step1"></ng-include>
                        <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 100%;padding-left: 15px;">Wrong username/password. Try again.</span>
                    </div>
                </fieldset>
            </form>
            <div style="padding-left: 6px; margin-left: 6px; padding-bottom: 1px; margin-bottom: 1px;">
                <img src="/Images/MagazineOpinions/Magazine-Opinions_banner.jpg" />
            </div>
            <div class="left" id="divCountrylogo">
                <img src="~/Images/MagazineOpinions/banner.gif" alt="Need Extra Cash? Earn Extra Cash"
                     width="522" height="111" class="banner" />
                <img src="~/Images/MagazineOpinions/details.jpg" />
            </div>
            <div class="form">
                <img src="~/Images/MagazineOpinions/makesomecash.gif" alt="Make Some Cash" width="371" height="23" />
                <div class="inner">
                    <div id="fieldset">
                        <div id="upCountry">
                            <form name="userInput" novalidate>
                                <table cellspacing="4" style="width: 100%;">
                                    <tr>
                                        <td align="right" style="width: 32%; vertical-align: top; font-size: 13px;">
                                            First Name
                                        </td>
                                        <td>
                                            <input type="text" id="fname" name="fname" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.FirstName" required>
                                            <span ng-show="userInput.fname.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;">
                                            Last Name
                                        </td>
                                        <td align="left">
                                            <input type="text" id="lname" name="lname" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.LastName" required>
                                            <span ng-show="userInput.lname.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top;  font-size: 13px;">
                                            Email Address
                                        </td>
                                        <td align="left">
                                            <input type="email" id="txtEmailAddress" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.EmailAddress" name="email" tooltipText="Please make sure your email address is correct or you won't have access to SurveyDownLine!" ng-blur="validateEmail()" required />
                                            <span class="error text-danger txt-req" ng-show="userInput.email.$error.email && isRegErrMsg">{{'notValidEmail'|translate}}</span>
                                            <span ng-show="userInput.email.$error.required && isRegErrMsg" class="text-danger">{{'required' | translate}}</span>
                                            <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top;  font-size: 13px;margin-left: 30px;">
                                            Address 1
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtAddress1" name="address1" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.Address1" tabindex="8" required>
                                            <span ng-show="userInput.address1.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top;  font-size: 13px;margin-left: 30px;">
                                            Address 2
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtAddress2" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.Address2" tabindex="8">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Country
                                        </td>
                                        <td align="left">
                                            <select class="txt-box" id="ddlCountry" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.CountryId" name="country" ng-options="con.CountryId as con.CountryName for con in countries" ng-change="countryByStates(user.CountryId)" required></select>
                                            <span class="error text-danger txt-req" ng-show="userInput.country.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.CountryId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr ng-if="states.length != 0">
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            State/Province
                                        </td>
                                        <td align="left">
                                            <select style="width:208px;margin-bottom:5px;width: 170px;margin-left: 10px;font-size: 14px;" name="state" id="state" ng-options="st.StateId as st.StateName for st in states" ng-model="user.StateId" required></select>
                                            <span class="error text-danger txt-req" ng-show="userInput.state.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            City
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtCity" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.City" name="city" required>
                                            <span class="error text-danger txt-req" ng-show="userInput.city.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="" align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Zip/Postal Code
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtZipCode" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.ZipCode" name="zipCode" required>
                                            <span class="error text-danger txt-req" ng-show="userInput.zipCode.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Mobile Phone<br>
                                            <span style="font-size: 10px;">(optional)</span>
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtmobilePhone" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.MobilePhone">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Gender
                                        </td>
                                        <td align="left">
                                            <select id="ddlGender" ng-model="user.Gender" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" name="gender" required ng-change="optIntelligenceCheck()">
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="N">Non-Binary</option>
                                            </select>
                                            <span class="error text-danger txt-req" ng-show="userInput.gender.$invalid &&isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Birth Date
                                        </td>
                                        <td align="left">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="padding-zero ddl-mm" id="ddlMonth" style="margin-bottom: 5px;margin-left: 10px;font-size: 14px;" ng-model="user.Month" name="month" required ng-change="optIntelligenceCheck()">
                                                                <option value="01">{{'Jan'|translate}}</option>
                                                                <option value="02">{{'Feb'|translate}}</option>
                                                                <option value="03">{{'Mar'|translate}}</option>
                                                                <option value="04">{{'Apr'|translate}}</option>
                                                                <option value="05">{{'May'|translate}}</option>
                                                                <option value="06">{{'Jun'|translate}}</option>
                                                                <option value="07">{{'Jul'|translate}}</option>
                                                                <option value="08">{{'Aug'|translate}}</option>
                                                                <option value="09">{{'Sep'|translate}}</option>
                                                                <option value="10">{{'Oct'|translate}}</option>
                                                                <option value="11">{{'Nov'|translate}}</option>
                                                                <option value="12">{{'Dec'|translate}}</option>
                                                            </select>
                                                        </td>
                                                        <td style="vertical-align: top;">
                                                            &nbsp;/
                                                        </td>
                                                        <td style="vertical-align: top;">
                                                            <select class="padding-zero ddl-dd" id="ddlDay" style="margin-bottom: 5px;font-size: 14px;" ng-model="user.Day" name="day" required ng-change="optIntelligenceCheck()">
                                                                <option value="01">1</option>
                                                                <option value="02">2</option>
                                                                <option value="03">3</option>
                                                                <option value="04">4</option>
                                                                <option value="05">5</option>
                                                                <option value="06">6</option>
                                                                <option value="07">7</option>
                                                                <option value="08">8</option>
                                                                <option value="09">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                        </td>
                                                        <td style="vertical-align: top;">
                                                            &nbsp;/
                                                        </td>
                                                        <td style="vertical-align: top;">
                                                            <select class="y-width ddl-yy" id="ddlYear" style="margin-bottom: 5px;font-size: 14px;" ng-model="user.Year" name="year" convert-to-number required ng-change="optIntelligenceCheck()">
                                                                <option ng-repeat="y in year" value="{{y.key}}">{{y.value}}</option>
                                                            </select>
                                                            <span class="error text-danger  txt-req spn-yy-err" ng-show="(userInput.month.$invalid ||userInput.day.$invalid||userInput.year.$invalid)  && isRegErrMsg">{{'required'|translate}}</span>
                                                            <span class="error text-danger" ng-show="user.Year == 0 && isRegErrMsg">{{'required'|translate}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr ng-if="user.CountryId != 505 && user.CountryId != 512 && user.CountryId != 525 && user.CountryId != 545 && user.CountryId != 548 && user.CountryId != 549 && user.CountryId !=550 && user.CountryId !=559 && user.CountryId !=564 && user.CountryId !=565 && user.CountryId !=572 && user.CountryId !=575 && user.CountryId !=590 && user.CountryId !=596 && user.CountryId !=599 && user.CountryId !=613 && user.CountryId !=618 && user.CountryId !=619 && user.CountryId !=620 && user.CountryId !=628 && user.CountryId != 647 && user.CountryId != 657 && user.CountryId != 668 && user.CountryId != 669 &&
                         user.CountryId !=673 && user.CountryId !=693 && user.CountryId !=694 && user.CountryId !=700 && user.CountryId !=706">
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Ethnicity
                                        </td>
                                        <td align="left">
                                            <select id="ddlEthnicity" ng-model="user.EthnicityId" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" name="ethnicity" required>
                                                <option ng-repeat="ec in ethnicityLst" value="{{ec.EthnicityId}}">{{ec.EthnicityType}}</option>
                                            </select>
                                            <span class="error text-danger txt-req" ng-show="userInput.ethnicity.$invalid  && isRegErrMsg">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.EthnicityId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="vertical-align: top; font-size: 13px;margin-left: 30px;">
                                            Password
                                        </td>
                                        <td align="left">
                                            <input type="password" id="txtPassword" name="password" style="margin-bottom: 5px;width: 170px;margin-left: 10px;font-size: 14px;" ng-model="user.Password" required>
                                            <span class="error text-danger txt-req" ng-show="userInput.password.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                            <span class="text-danger" ng-show="userInput.password.$error.minlength">Minimum of 6 Characters</span>
                                        </td>
                                    </tr>

                                </table>

                                <table style="margin-left:34px;margin-bottom:9px;margin-top:5px;margin-left:30px;">
                                    <tr>
                                        <td align="left">
                                            <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                            <span class="text-danger" ng-show="captchaErr">Invalid captcha selection.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="dvTc" style="padding: 6px;font-size: 8pt; color: Gray;">
                                            <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 5px;" name="agree" type="checkbox" value="agree" ng-model="user.agree" required>
                                            <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 2px; text-align: left; width: 89%; font-size: 12px; cursor: default;" class="ng-binding">
                                                I agree to the <a href="" style="color: gray;text-decoration: underline;" ng-click="termsClick('/WidgetTerms.html')" class="ng-binding">Terms & Conditions</a> and to receive additional survey, market research and other relevant emails from Precision Sample.<br />
                                                I understand that my personal data will be processed as described in the <a href="" style="color: gray;text-decoration: underline;" ng-click="privacyClick()" class="ng-binding">Privacy Notice</a>
                                            </label>
                                            <span class="error text-danger txt-req" ng-show="userInput.agree.$invalid &&isRegErrMsg">{{'required'|translate}}</span>
                                        </td>
                                    </tr>
                                </table>
                                <input type="hidden" id="hfShow" value="0" />
                            </form>
                        </div>
                        <table cellspacing="0" style="width: 100%;">
                            <tr>
                                <td align="left">
                                    <div id="divShow" class="form-group" style="display:none;font-size:12px;">
                                        <div style="color: Black; margin-left: 10px; padding-left: 10px; text-align:justify;">

                                            <b>{{'goodnews'|translate}}! </b>{{'basenonDemographics'| translate}}.<br /><br />
                                            <div id="offers" oi-pid="14376727" class="form-group" style="vertical-align:left;">

                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                           
                            <tr>
                                <td style="text-align: center; vertical-align: top;">
                                    <img src="~/Images/MagazineOpinions/submit.gif" class="button" ng-click="submit(userInput.$valid)" />
                                </td>
                            </tr>
                            @*<tr>
                                <td align="left" style="font-size: 8pt; color: Gray; padding: 6px;">
                                    By signing up, I agree to the Terms of Use and Privacy Policy and agree to receive
                                    additional survey, market research and other relevant offers from MagazineOpinions.com
                                </td>
                            </tr>*@
                        </table>
                    </div>
                </div>
                <!-- INNER -->
            </div>
            <div style="clear: both;">
            </div>
            <div id="footer">
                © Copyright 2012-2022 {{orgDetails.OrgName}} | <a href="javascript:;" ng-click="termsClick('/WidgetTerms.html')"> Terms</a> | <a href="" ng-click="privacyClick()">Privacy</a> | <a href="javascript:;" ng-click="contactClick()">Contact Us</a> | <a href="javascript:;" ng-click="aboutClick()">About Us</a> | <a href="/wl/sm">Site Map</a> | <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
            </div>
        </div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-7462191-5");
                pageTracker._trackPageview();
            } catch (err) { }</script>
        <!-- /container -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        @*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angularval")
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
        @Scripts.Render("~/bundles/bootstrap")
        <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
    </div>
</body>
