
@{
    Layout = null;
    ViewBag.Title = "Opinionetwork";
}
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-N9DDS62');</script>
    <!-- End Google Tag Manager -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>


    <script type="text/javascript">
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
        var ug = getUrlVars()["ug"]; //user Guid
        if (ug == undefined) {
            ug = '';
        }
        var is_sim = getUrlVars()["is_sim"]; // this is not needed now.
        if (is_sim == undefined) {
            is_sim = 'f';
        }
        var extid = getUrlVars()["extid"]; //external Member ID
        if (extid == undefined) {
            extid = '';
        }

        var is_t = getUrlVars()["is_t"]; // to show profiles after registrioan.
        if (is_t == undefined) {
            is_t = 's';
        }

        var pg = getUrlVars()["pg"] //user status guid added 06/13/2016
        debugger;
        if (pg == undefined) {
            pg = '';
        }
        if (pg.toLowerCase() == '9EE17B1A-6882-4CAE-9AED-3C4D4A92DFA9'.toLowerCase()) {
            $(document).ready(function () {
                $("div#conversentform").hide();
                $("div#conversentbutton").hide();
                $("div#conversantimg").hide();
            });
        }
        else if (pg.toLowerCase() == '71CC02CD-B8A5-4A5A-AF4D-9988B2F21761'.toLowerCase()) {
            $(document).ready(function () {
                $("div#obform").hide();
                $("div#obformbutton").hide();
                $("div#obimg").hide();
            });
        }

        var pc = getUrlVars()["pc"];//Project cost .
        if (pc == undefined) {
            pc = '';
        }
        else {
            pc = pc.replace(ug, "");
        }


        function takeme() {
            window.location.href = 'https://www.conversant.pro/registration?leadid=' + ug + '&pc=t450&extid=' + extid;
        }

        function thankyou() {
            window.location.href = '/Home/LogIn?leadid=' + ug + '&is_t=' + is_t + '&pc=t491&extid=' + extid;
        }
        //function thankyou() {
        //    var src = 'https://www.opinionbar.com/Home/LogIn?leadid=' + ug + '&is_t=' + is_t + '&pc=t491&extid=' + extid;
        //    document.getElementById("obiframe").src = src;
        //}
    </script>




    <style type="text/css">
        body {
            color: black !important;
            font-family: Lucida Sans Console, Verdana, Tahoma, Arial, Verdana, sans-serif;
            font-size: 13px;
            line-height: 1.42857143; /* background-color: #abd7fe; */
        }

        #dvContent {
            padding: 26px;
            overflow: hidden;
            max-width: 770px;
            background-color: White;
            margin: auto;
            text-align: justify;
            -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.54);
            -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.54);
            box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.54);
        }

        h1.hidden {
            visibility: hidden;
        }
    </style>

</head>
<body ng-app="lbMsgApp">
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
    }
    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9DDS62"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
    <div style="margin-top:15px;width:100%;" ng-controller="lbmsgController">
        <iframe id="obiframe" frameborder="0" style="width:0px;height:0px;" content="allowall"></iframe>
        <div id="dvContent">
            <div class="form-group col-md-12 col-lg-12">
                <img src="@ViewBag.PartnerLogo" />
            </div>
            <div style="padding-left:10px;" id="conversantimg">
                <img id="imgLogo" src="/images/conversant.png" style="width:213px;height:50px;">
            </div>
            <div style="padding-left:10px;" id="obimg">
                <img id="imgLogo" src="/images/logo_opinionbar2x.png" style="width:213px;height:50px;">
            </div>
            <br />

            <div class="row">
                <div class="form-group col-md-12 col-lg-12">
                    <p>
                        <b style="margin-left:190px;">Success! You have completed this survey!</b><br />
                    </p>
                </div>
            </div>
            <div class="row" id="obform">
                <div class="form-group col-md-12 col-lg-12">
                    <p><b><u>Claim your $5.00 reward by clicking the button below and joining Opinionbar.</u></b> Once joined, you will have access to additional surveys and the opportunity to redeem your reward for a direct Paypal payment or a wide variety of gift cards from your favorite retailers including Amazon, BestBuy, Starbucks, Airbnb & more! </p>
                </div>
            </div>
            <div class="row" id="conversentform">
                <div class="form-group col-md-12 col-lg-12">
                    <p><b><u>Claim your $20.00 reward by clicking the button below and joining Conversant.pro.</u></b> Once joined, you will have access to additional surveys and the opportunity to redeem your reward for a direct Paypal payment or a wide variety of gift cards from your favorite retailers including Amazon, BestBuy, Starbucks, Airbnb & more! </p>
                </div>
            </div>
            <br />
            <div class="row" style="display:flex;">
                <div class="form-group col-md-12 col-lg-6" id="obformbutton">
                    @*<input type="button" class="btn btn-primary" id="btnTakeAnotherSurvey" onclick="takeme();" value="{{'tas6'|translate}}" />*@
                    <input class="btn btn-primary" type="button" id="obformbutton" onclick="thankyou();" style="margin-top:0px;margin-left:290px;" value="Join Opinionbar">
                </div>
                <div class="form-group col-md-12 col-lg-6" id="conversentbutton">
                    @*<input type="button" class="btn btn-primary" id="btnTakeAnotherSurvey" onclick="takeme();" value="{{'tas6'|translate}}" />*@
                    <input class="btn btn-primary" type="button" id="conversentbutton" onclick="takeme();" style="margin-top:0px;margin-left:290px;" value="Join Conversant.pro">
                </div>
                @*<div class="form-group col-md-12 col-lg-6">
                        <button class="pull-right btn btn-dark" type="submit" onclick="thankyou();" style="margin-top:0px;">No! Thank You!</button>
                    </div>*@
            </div>
            <center>
                <div class="row" style="display:inline-flex;" id="obform">
                    <span>© {{'Copyright 2021'|translate}} <a href="http://www.metrixlab.com" target="_blank" style="color:black;"> MetrixLab<br></a></span>
                    <a href="" class="benefits" style="margin-left:10px;color:black;" ng-click="privacyClickOB()">Privacy</a>
                    <a href="" class="benefits" style="margin-left:10px;color:black;" ng-click="termsClickOB()">Terms & Conditions</a>
                </div>
                <div class="row" style="display:inline-flex;" id="conversentform">
                    <span><a href="https://precisionsample.com" target="_blank" style="color:black;">©2021 Precision Sample, LLC</a></span>
                    <a href="" class="benefits" style="margin-left:10px;color:black;" ng-click="privacyClickCon()">Privacy Policy</a>
                    <a href="" class="benefits" style="margin-left:10px;color:black;" ng-click="termsClickCon()">Terms & Conditions</a>
                </div>
            </center>
        </div>


    </div>
    <script type="text/javascript" src="~/Scripts/pages/e/lbmsg.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
