
@{
    Layout = null;
}


@{
    AjaxOptions ContactOptions = new AjaxOptions()
    {
        OnBegin = "OnloginFormBegin()",
        OnSuccess = "OnloginFormSuccess()",
        OnFailure = "OnloginFormFailure()"
    };
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.OrgName</title>
    @Styles.Render("~/Content/css")
    <link type="text/css" href="/Content/default.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <script src="https://www.offerfwd.net/oi/joi.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <style type="text/css">
        .validation-summary-errors {
            color: red !important;
        }

            .validation-summary-errors ul {
                clear: both;
                list-style: none;
                padding: 0px 0px 0px 12px;
            }

        .padding-zero {
            padding: 6px 3px;
        }
    </style>
</head>

<body class="body-bg" style="background: url('/images/bg.jpg') repeat-x scroll 0 0 #ABD7FE;" ng-cloak ng-app="loginApp" ng-controller="loginCtrl">
    @Html.AntiForgeryToken()
    @*<div style="width: 100%;" ng-if="nomNomCookie">
        <center>
            <div id="divcookie" style="margin-left: 0px; margin-top: 0px; margin-right: 0px;
                    margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                    background-color: #CECECE;">
                <div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="vertical-align: top;" align="left">
                                <h1 style="color: #920025; font-size: 24px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">nom nom... Cookies</h1>
                            </td>
                            <td style="vertical-align: bottom;" align="left">
                                <img src="/images/Loquedigo/WL/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                            </td>
                            <td style="vertical-align: bottom;" align="left">
                                <span data-bind="text: ViewModel.BodyMenu.CookiesText">We use cookies to enhance your experience on our website. For more details, please review our</span>&nbsp;<a href="/c.htm"
                                                                                                                                                                                                    style="color: #1E91CB;">
                                    <u data-bind="text: ViewModel.BodyMenu.CookiePolicy">Cookie Policy</u>
                                </a>
                            </td>
                            <td style="vertical-align: bottom;" align="left">
                                &nbsp;&nbsp;&nbsp;<input type="button" id="btncookieok" value="OK" ng-click="okCookie()" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="vertical-align: top;" align="left">
                                <span data-bind="text: ViewModel.BodyMenu.CookiesText">If you prefer that we not place cookies please &nbsp;<a href="" ng-click="delCookie()" style="color: #1E91CB;">Click here</a> to opt out. This will reduce your survey opportunities.</span>
                                <u></u>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
    </div>*@

    <div style="width: 33%;background-color: #2f3337;position: fixed;padding: 1px;z-index: 99999;top: auto;bottom: 10px;outline: none;border-radius:10px;margin-left:10px;" align="center" ng-if="!googleCookie">
        <div id="divcookie" style="margin-left: auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;display: table;max-height:100px;">
            <div border="0" cellspacing="0" cellpadding="0" style="width:90%;">
                <div>
                    <div style="display:inline-flex;">
                        <h1 style="color: #0095ff; font-size: 24px; margin-bottom:7px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'Cookie Banner'|translate}}</h1>
                        <img src="/images/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                    </div>
                    <div style="float:right;">
                        <button type="button" style="color: white;background-color: #2f3337;border: none;font-size: 25px;margin-top: 10px;" class="close" aria-hidden="true" ng-click="closeDialog()">×</button>
                    </div>
                </div>
                <div style="vertical-align: bottom;" align="left">
                    <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We use functional cookies to ensure the proper functioning of our Website <a href="https://www.surveydownline.com/" style="color: #ffffff;">https://www.surveydownline.com/</a> and to keep our Website quick and safe. </p><br />
                    <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We would like to set additional analytical  cookies to understand how our website is used and how we can optimise our Website and services. We would also like to use additional tracking cookies by us or by third parties to show you relevant advertisement based on your interests.  </p><br />
                </div>
                <div>
                    <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">Accept additional cookies</button>
                    <button type="button" id="btncookieok" value="OK" ng-click="declineCookie()" style="padding: 7px 7px;border-radius: 10px;background-color: #e1ecf4;text-align: center;cursor: pointer;color: #39739d;border:none;font-size:13px;margin-left:10px;">Reject additional cookies</button>
                </div>
                <div style="margin-top:10px;">
                    <p align="left" style="color: #ffffff;font-size:12px;">
                        Manage your Cookie Settings here <a href="#" ng-click="cookieSettings()">Cookie Settings</a> Find more information about our cookies in our Cookie Statement
                        <a href="#" onclick="window.open('/Login/cookiest', 'Cookie Statement', 'height=800,width=800,scrollbars=yes'); return false">Cookie Statement</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-wraper">
        <div class="col-md-3">
            <div class="brand logo">
                <img src="/Images/logo.gif" />
            </div>
        </div>
        <div class="col-md-7 login-form" style="float:right;">
            <div class="row">
                <ng-include src="step1"></ng-include>
                @*<div class="col-md-2 padding-zero" style="height:0px;">
                        <div ng-click="languageChange()">
                            <a href="javascript:;" class="item language toolbox-trigger" id="language-selector" rel="nofollow" data-toolbox-type="language">
                                <img ng-src="{{selectedImg}}" width="44" height="32" alt="us" class="flag">
                            </a>
                            <span class="caret"></span>
                        </div>

                        <div class="toolbox language-list toolbox-language" ng-class="{'toolbox-hide':languageSelected}">
                            <h2>In Your Language</h2>
                            <nav class="menu stacked">
                                <ul>
                                    <li ng-repeat="lang in languageCodes" ng-hide="selectedLangCode == $index" ng-click="selectLanaguage($index,lang)">
                                        <a href="javascript:;" rel="nofollow">
                                            <img class="flag" ng-src="{{lang.Img}}"> {{lang.LangName}}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>*@
            </div>
            <span class="error text-danger" ng-show="isShowLoginFailErrmsg">{{'wrongPassword'|translate}}.</span>
        </div>
        <div class="col-md-2 pull-right login-user">
            <a href="javascript:;" class="glyphicon glyphicon-user"></a>
        </div>
        <div class="jumbotron banner">
            <img src="/Images/howitworks.jpg" />
        </div>
        <div class="rewards-cont row">
            <img src="/Images/rewards.jpg" />
        </div>
        <div class="row main-conatainer ">
            <div class="col-lg-6 contentl">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="header-tags">{{'welcome'|translate}}</h2>
                    </div>
                    <div class="col-lg-6 text-right ">
                        {{'followus'|translate}}:
                        <img src="/Images/facebbook.png" style="cursor: pointer;" ng-click="openWindow()" />
                        <img src="/Images/twitter.png" style="cursor: pointer;" ng-click="windowOpen()" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <p>
                    {{'earnCashForOpinions'|translate}}.
                </p>
                <p>
                    {{'surveyDownlineFreeToJoin'|translate}}
                </p>
                <p>
                    {{'twoTierReferrerProgram'|translate}}
                </p>
                <ul>
                    <li>{{'surveyComplete'|translate}}</li>
                    <li>{{'earnFriendsReferred'|translate}}</li>
                </ul>
                <p>
                    {{'cancelAccountAnyTime'|translate}}
                </p>

            </div>
            <div class="col-lg-6 registration-form reg-content">
                <form class="form-horizontal login-form" name="loginForm" novalidate>
                    <h2 class="text-primary header-tags">{{'signupHere'|translate}}:</h2>
                    <ng-include src="step2"></ng-include>
                    <div class="form-group">
                        <div class="col-md-10 pull-right">
                            <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                            <span class="text-danger" ng-show="captchaErr">{{'invalidCaptcha'|translate}}.</span>
                            @*<span class="text-danger" ng-show="isRegErrMsg">{{'errorOccured'|translate}}.</span>*@
                        </div>

                    </div>

                    <div id="divShow" class="form-group" style="display:none;">
                        <div style="color: Black; margin-left: 10px; padding-left: 10px; text-align:justify;">

                            <b>{{'goodnews'|translate}}! </b>{{'basenonDemographics'| translate}}.<br /><br />
                            <div id="offers" oi-pid="14376727" class="form-group" style="vertical-align:left;">

                            </div>

                        </div>
                    </div>
                    <div class="dvTc" style="padding: 6px;">
                        <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 5px;" name="agree" type="checkbox" value="agre" ng-model="user.agree" required>
                        <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 2px; text-align: left; width: 89%; font-size: 12px; cursor: default;" class="ng-binding">
                            I agree to the <a href="" style="color: black;text-decoration: underline;" ng-click="termsClick('/WidgetTerms.html')" class="ng-binding">Terms & Conditions</a> and to receive additional survey, market research and other relevant emails from Precision Sample.<br />
                            I understand that my personal data will be processed as described in the <a href="" style="color: black;text-decoration: underline;" ng-click="privacyClick()" class="ng-binding">Privacy Notice</a>
                        </label>
                        <span ng-show="loginForm.agree.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 text-center">
                            <button id="imgNext" class="btn btn-default reg-btn" ng-click="submit(loginForm.$valid,$event)"></button>
                            <input type="hidden" id="hfvalue" value="0" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="clearfix"></div>
            <div class="text-center privacy-cont">
                <img src="/Images/privacy.jpg" href="{{orgDetails.MemberUrl}}/Home/LogIn" ng-click="privacyClick()" />
            </div>
        </div>
        <footer class="footer text-center">
            © Copyright 2009-2022 Survey Downline | <a href="javascript:;" ng-click="termsClick('/WidgetTerms.html')"> Terms</a> | <a href="" ng-click="privacyClick()">Privacy</a> | <a href="javascript:;" ng-click="contactClick()">Contact Us</a> | <a href="javascript:;" ng-click="aboutClick()">About Us</a> | <a href="javascript:;" ng-click="faqClick()">FAQ</a> | <a href="http://member.impactradius.com/agency-campaign-info/SmarterChaoscom.brand?c=239">Affiliates</a> | <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
        </footer>

    </div>
    <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
    <script>
        $(document).ready(function () {
            $(".login-user a").click(function () {
                $(".login-form").slideToggle();
            })
        });
    </script>
</body>
</html>
