
@{
    Layout = null;
}
@{
    AjaxOptions ContactOptions = new AjaxOptions()
    {
        OnBegin = "OnregFFormBegin()",
        OnSuccess = "OnregFFormSuccess()",
        OnFailure = "OnregFFormFailure()"
    };
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/Grid.css" rel="stylesheet" />
    <link id="lnkCss" href="~/Content/bootstrap3.0.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
   
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <script type="text/javascript" src="~/Scripts/services/translationService.js"></script>
    <link href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/reddem.css" rel="stylesheet" />
    <link href="~/Content/pagging.css" rel="stylesheet" />
    <script src="~/Scripts/iframresizer.js" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <style type="text/css">
        #border {
            border: solid 1px #CACACA;
            overflow: hidden;
            max-width: 750px;
            margin-top: 10px;
            position: relative;
            font-family: verdana,arial;
            font-size: 10pt;
            padding: 10px;
        }

        div {
            display: block;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
        }

        }
    </style>

</head>
<body ng-cloak ng-app="trrApp">
    <div class="preloader" loader>
        <loading-directive>
        </loading-directive>
    </div>
    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        }
        <script type="text/ng-template" id="CatalougeDetails">

            <div id="dvImg">
                <img ng-if="trewards.RewardName='PayPal Cash Reward'" style="float: left;" border="0" src="/Images/Uploads/10241e69-a630-4fe4-9e88-4379b14d40e1paypal_logo.gif"
                     alt="#" />
                <img ng-if="trewards.RewardName='Magazine Subscription'" style="float: left;" border="0" src="/Images/Uploads/magazinegoldcard.gif" alt="#" />
            </div>
            <div class="dvlinegap">
            </div>
            <div>
                <div style="width: 100%">
                    <div class="dvrnst">
                        <label class="lblrn">
                            {{'RewardName' | translate}}:&nbsp;
                        </label>
                    </div>
                    <div class="dvrn">
                        <label class="lblrt" ng-bind="{{trewards.RewardName}}">
                        </label>
                    </div>
                </div>
                <div style="width: 100%">
                    <div class="dvrdescription">
                        <label class="lblrn">
                            {{'Description' | translate}}:
                        </label>
                    </div>
                    <div class="dvrn">
                        <span ng-if="trewards.RewardName='150 Facebook Credits'" class="lblrt" ng-bind="{{trewards.RewardDescription}}"></span>
                        <span ng-if="trewards.RewardName='PayPal Cash Reward'" class="lblrt" ng-bind="{{trewards.RewardDescription}}"></span>&nbsp;
                        <a ng-if="trewards.RewardName='PayPal Cash Reward'" style="color: #1E91CB;float:left;" href="#">https://www.paypal.com</a>
                        <span ng-if="trewards.RewardName='Magazine Subscription'" class="lblrt" ng-bind="{{trewards.RewardDescription}}"></span>&nbsp;
                        <a ng-if="trewards.RewardName='Magazine Subscription'" class="amggc" style="color: #1E91CB;float:left;" href="#">https://magazinegoldcard.com/browse/</a>
                    </div>
                </div>
            </div>
        </script>
        <div ng-controller="redController">
            <div id="border">
                <div style="padding-top: 10px;">
                </div>

                <div id="tblDetails">
                    <div style="width: 100%;">
                        <div style="width: 100%;">
                            <div id="dvTac">
                                <div class="dvacb">
                                    <label id="lblBalance">
                                        {{'accountBal' | translate}}:
                                    </label>
                                </div>
                                <div class="dvtab">
                                    <span class="spnd" style="color: #6195b2">
                                        $<span class="spntab" id="spnAccountBalance"
                                               style="color: #6195b2">{{trewards.AccountBalance}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style="width: 100%;">
                        <div style="width: 100%;">
                            <ng-include src="CatalougeDetails"></ng-include>
                            <div id="dvImg">
                                <img id="imgRewardLogo" style="float: left;" border="0" src="" alt="#" />
                            </div>
                            <div>
                                <div style="width: 100%">
                                    <div class="dvrnst">
                                        <label class="lblrn">
                                            {{'RewardName' | translate}}:&nbsp;
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <label class="lblrt" id="lblRewardName">
                                            {{trewards.RewardName}}
                                        </label>
                                    </div>
                                </div>
                                <div style="width: 100%; " id="divDiscl">
                                    <div class="dvrdescription">
                                        <label class="lblrn">
                                            {{'Disclaimer' | translate}}:
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <span class="lblrt" id="spnDisclaimer">{{trewards.RewardName}} {{'sponsorMsg' | translate}}</span>
                                    </div>
                                </div>
                                @*<div style="width: 100%;display:table" id="divDesc">
                                    <div class="dvrdescription">
                                        <label class="lblrn">
                                            Description:
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <span class="lblrt" style="padding-left:5px">{{trewards.Description}}</span>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12" style="background-color:white;border: 0px solid #ddd;display: inline-block;">
                                <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                <span class="text-danger" ng-show="captchaErr">{{'invalidCap' | translate}}</span>
                                <span class="text-danger" ng-show="isRegErrMsg">{{'errorOcc' | translate}}</span>
                            </div>
                        </div>
                        <div class="dvlinegap">
                        </div>
                        <div style="width: 100%">
                            <div class="dvrredeem">
                                <label class="lblrn">
                                    {{'Amount' | translate}} $:&nbsp;
                                </label>
                            </div>
                            <div class="dvrddl">
                                <select name="repeatSelect" id="ddlRedeemAmount" ng-model="trewards.RedeemAmount" style="float:left"> 
                                    <option ng-repeat="option in  trewards.LstRewardAmount" value="{{option.Key}}">{{option.Value}}</option>
                                </select>
                                <input type="text" id="txtRedeemAmount" ng-bind="trewards.RedeemAmount" ng-model="trewards.RedeemAmount" style="float: left;" disabled />
                            </div>
                        </div>

                        <div>
                            <div>
                                <label id="lblMessage">
                                </label>
                            </div>
                        </div>
                        <div>
                            <br />
                        </div>
                        <div class="dvbuttons">
                            <div class="dvredbtn">
                                <input type="button" id="btnRedeem" class="myButton" value="Redeem" ng-click="RedeemClick()" />
                            </div>
                            <div class="dvcanbtn">
                                <input type="button" id="btnCancel" class="myButton" value="Cancel" ng-click="CancelClick()" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </center>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script src="~/Scripts/services/customServices.js"></script>
    <script type="text/javascript" src="~/Scripts/pages/partner/trr.js"> </script>
    <script type="text/javascript" src="~/Scripts/services/translationService.js"></script>
    <script src="~/Scripts/translate-pluggable-loader.js" type="text/javascript"></script>
</body>
</html>
