@{
    Layout = null;
}


@{
    AjaxOptions ContactOptions = new AjaxOptions()
    {
        OnBegin = "OnloginFormBegin()",
        OnSuccess = "OnloginFormSuccess()",
        OnFailure = "OnloginFormFailure()"
    };
}


<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.OrgName</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/main/s1.css" rel="stylesheet" />
</head>

<body>
    @Html.AntiForgeryToken()
    <center>

        <div class="cp-bg">
        </div>
        <div class="dvoverly">
        </div>
        <div class="container_12" style="clear: both;">
            <div id="masthead">
                <div id="logo">
                    <img src="@ViewBag.Logo" />
                </div>
            </div>
            <div class="clear">
                <br />

            </div>
            <div id="dvMemberDetails" style="height:auto">

                <div class="clear">
                </div>
                <div id="surveyQuestionContainer" style="float: none;">
                    <div id="surveyQuestion">
                        <div align="center">
                            <div id="border" style="text-align: left;">
                                <p style="font-size: 16px;padding:20px;">
                                    @ViewBag.Message
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
    </center>
</body>
</html>

