
<!DOCTYPE html>

<html>
<head id="Head1">
    <title>@ViewBag.OrgName</title>
    <link rel="stylesheet" id="linkdefault" type="text/css" media="screen" href="~/Content/default.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
</head>
<body ng-app="regOffers">
    <div id="container">
        <div id="topborder">
        </div>
        <img class="logo" src="@ViewBag.OrgLogo" alt="paid surveys online" style="padding-left: 30px;padding-bottom:10px;" />
        @RenderBody()
        <div style="width:94%;margin:auto;" ng-controller="footerController">
            <center>
                <p id="text" class="footer" style="width:100%;float:left;">
                    &copy; <span>{{'Copyright' | translate}}</span>
                    <label>
                        {{currentYear}}
                    </label>-<label>{{nextYear}}</label>
                    <label class="orgname">
                    </label>
                    | <a href="javascript: void(0)" ng-click="termsClick()" id="ancsurveysonline"
                         ng-class="">
                        {{'Terms' | translate}}
                    </a>| <a href="javascript: void(0)" ng-click="privacyClick()" id="ancsurveyspolicy">
                        {{'Privacy' | translate}}
                    </a>| <a href="javascript: void(0)" ng-click="contactClick()" id="ancsurveycontact">
                        {{'ContactUs' | translate}}
                    </a>| <a href="javascript: void(0)" ng-click="aboutClick()" id="ancsurveyAbout">
                        {{'AboutUs' | translate}}
                    </a>
                 </p>
            </center>
            <div class="preloader" loader>
                <div class="loader"></div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/rg/rg.js"></script>
</body>
</html>